 
<div class="elementor-element elementor-element-a90767f elementor-widget elementor-widget-text-editor" data-id="a90767f" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>At JMW we want to be your end to end IT service organization, big enough to undertake your largest project, yet small enough to maintain the loyalty and the intimacy of a firm and in turn contribute
                                                        greatly to your success</p>
                                                    <p><strong>What JMW ALL ABOUT</strong> <br />Our team is made up of people who live and breathe technology and for us, it is all about passion, not job. We work towards our client’s success. This is reflected
                                                        in the relationship we build with our clients spanning multiple years. Over the years, we have had the opportunity to work for several B2B and B2C SaaS, technology companies within several sectors.</p>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-5e8a277d elementor-align-left elementor-widget elementor-widget-button" data-id="5e8a277d" data-element_type="widget" data-widget_type="button.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-button-wrapper">
                                                        <a href="/about-us/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                
































 <div class="elementor-element elementor-element-5e8a277d elementor-align-left elementor-widget elementor-widget-button" data-id="5e8a277d" data-element_type="widget" data-widget_type="button.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-button-wrapper">
                                                        <a href="/about-us/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                        <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">Know More</span>
        </span>
                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3bfa8d4d business-video" data-id="3bfa8d4d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-element elementor-element-4962d530 elementor-widget elementor-widget-spacer" data-id="4962d530" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-642b5837 elementor-widget elementor-widget-spacer" data-id="642b5837" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-454336a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="454336a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
                                <div class="elementor-background-overlay"></div>
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-12852de elementor-invisible" data-id="12852de" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-cd02e13 elementor-widget elementor-widget-spacer" data-id="cd02e13" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-a9cbdae elementor-widget elementor-widget-heading" data-id="a9cbdae" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <p class="elementor-heading-title elementor-size-default">Why to Choose</p>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-d64cbf6 elementor-widget elementor-widget-heading" data-id="d64cbf6" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default">Just Mind Work</h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-d92b5d4 elementor-widget elementor-widget-spacer" data-id="d92b5d4" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-40e81ba6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="40e81ba6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7fd21d13" data-id="7fd21d13" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2da12013 test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="2da12013" data-element_type="widget" data-widget_type="icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-box-wrapper">
                                                        <div class="elementor-icon-box-icon">
                                                            <span class="elementor-icon elementor-animation-">
                <i aria-hidden="true" class="fas fa-address-card"></i>              </span>
                                                        </div>
                                                        <div class="elementor-icon-box-content">
                                                            <h3 class="elementor-icon-box-title">
                                                                <span>Holistic</span>
                                                            </h3>
                                                            <p class="elementor-icon-box-description">We seek out entrepreneurs and businesses that share our passion for disruption. And look to join forces.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-27a9bd07" data-id="27a9bd07" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-1d9ed91b test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="1d9ed91b" data-element_type="widget" data-widget_type="icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-box-wrapper">
                                                        <div class="elementor-icon-box-icon">
                                                            <span class="elementor-icon elementor-animation-">
                <i aria-hidden="true" class="fas fa-code"></i>              </span>
                                                        </div>
                                                        <div class="elementor-icon-box-content">
                                                            <h3 class="elementor-icon-box-title">
                                                                <span>Goal Oriented</span>
                                                            </h3>
                                                            <p class="elementor-icon-box-description">At JMW, we focus on developing unerring results by setting precise goals. One goal, One direction.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-154eda3b" data-id="154eda3b" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-5fbd8653 test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="5fbd8653" data-element_type="widget" data-widget_type="icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-box-wrapper">
                                                        <div class="elementor-icon-box-icon">
                                                            <span class="elementor-icon elementor-animation-">
                <i aria-hidden="true" class="fas fa-laptop-code"></i>               </span>
                                                        </div>
                                                        <div class="elementor-icon-box-content">
                                                            <h3 class="elementor-icon-box-title">
                                                                <span>Specialists</span>
                                                            </h3>
                                                            <p class="elementor-icon-box-description">Angular, Python, React, Ruby on Rails. The more 'niche' the better. We relish technological challenges.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-1d72e01c elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="1d72e01c" data-element_type="section"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-background-overlay"></div>
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1fb270e3 elementor-invisible" data-id="1fb270e3" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-5b43a6cd elementor-widget elementor-widget-spacer" data-id="5b43a6cd" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-15e7a330 elementor-widget elementor-widget-heading" data-id="15e7a330" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <p class="elementor-heading-title elementor-size-default">We work on following</p>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-654a741e elementor-widget elementor-widget-heading" data-id="654a741e" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default">Technologies</h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-37af092f elementor-widget elementor-widget-spacer" data-id="37af092f" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-c387e2b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="c387e2b" data-element_type="section"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-a97a8b5" data-id="a97a8b5" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-52e4cde elementor-widget elementor-widget-image" data-id="52e4cde" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img width="200" height="200" src="http://justmindwork.com/wp-content/uploads/2021/07/1.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="http://justmindwork.com/wp-content/uploads/2021/07/1.jpg 200w, http://justmindwork.com/wp-content/uploads/2021/07/1-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px" /> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-9f920cd" data-id="9f920cd" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-fa80e1c elementor-widget elementor-widget-image" data-id="fa80e1c" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img width="200" height="200" src="http://justmindwork.com/wp-content/uploads/2021/07/10.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="http://justmindwork.com/wp-content/uploads/2021/07/10.jpg 200w, http://justmindwork.com/wp-content/uploads/2021/07/10-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px" /> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-af8ee87" data-id="af8ee87" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-4b782f1 elementor-widget elementor-widget-image" data-id="4b782f1" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img width="200" height="200" src="http://justmindwork.com/wp-content/uploads/2021/07/9.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="http://justmindwork.com/wp-content/uploads/2021/07/9.jpg 200w, http://justmindwork.com/wp-content/uploads/2021/07/9-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px" /> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-bd13f03" data-id="bd13f03" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-837189a elementor-widget elementor-widget-image" data-id="837189a" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img width="200" height="200" src="http://justmindwork.com/wp-content/uploads/2021/07/8.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="http://justmindwork.com/wp-content/uploads/2021/07/8.jpg 200w, http://justmindwork.com/wp-content/uploads/2021/07/8-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px" /> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-6e1e07f" data-id="6e1e07f" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-badee58 elementor-widget elementor-widget-image" data-id="badee58" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img width="200" height="200" src="http://justmindwork.com/wp-content/uploads/2021/07/7.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="http://justmindwork.com/wp-content/uploads/2021/07/7.jpg 200w, http://justmindwork.com/wp-content/uploads/2021/07/7-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px" /> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
