<div id="sidebar-footer" class="footer-widgets" role="complementary">
            <div class="container">
               <div class="row">
                  <div class="sidebar-column col-md-3">
                     <section id="text-3" class="widget widget_text">
                        <div class="textwidget">
                           <p><img loading="lazy" class="alignnone size-full wp-image-708" src="http://52.91.135.213/wp-content/uploads/2021/07/Just-Mind-Work.png" alt="" width="200" height="40" /></p>
                        </div>
                     </section>
                  </div>
                  <div class="sidebar-column col-md-3">
                     <section id="text-2" class="widget widget_text">
                        <h3 class="widget-title">Quick Links</h3>
                        <div class="textwidget">
                           <p><%=link_to "home", root_path %></a></p>
                           <p><%=link_to "About", about_us_path %></p>
                           <p><%=link_to "Career", career_path %></p>
                           <p><%=link_to "Contact", contact_us_path %></p>
                        </div>
                     </section>
                  </div>
                  <div class="sidebar-column col-md-3">
                     <section id="custom_html-2" class="widget_text widget widget_custom_html">
                        <h3 class="widget-title">Contact Us</h3>
                        <div class="textwidget custom-html-widget">
                           <h3 style="font-size: 22px; color: #595959">
                              +91 81093 37859
                           </h3>
                           admin@justmindwork.com <br/> <br/> 413, Satguru Parinay Opposite C21 Mall, AB Rd, Scheme 54 PU4, Indore, Madhya Pradesh 452011
                        </div>
                     </section>
                  </div>
                  <div class="sidebar-column col-md-3">
                     <section id="athemes_social_widget-1" class="widget widget_athemes_social_widget">
                        <h3 class="widget-title">Let&#8217;s Connect</h3>
                        <div class="menu-social-container">
                           <ul id="menu-social" class="menu social-media-list clearfix">
                              <li id="menu-item-787" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-787"><a href="https://www.linkedin.com/in/justmind-work-368837217/"><span class="screen-reader-text">LinkedIn</span></a></li>
                              <li><i class="fa-brands fa-facebook"></i><a href="https://www.facebook.com/justmindwork"><span class="screen-reader-text">facebook</span></a></li>
                              <li id="menu-item-788" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-788"><a href="https://www.instagram.com/invites/contact/?i=8qa6apvzw67k&#038;utm_content=m8yhss5"><span class="screen-reader-text">Instagram</span></a></li>
                           </ul>
                        </div>
                     </section>
                     <section id="custom_html-1" class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                           <p style="margin-top:20px">
                              @ Copyright 2021 | Just Mind Work Pvt. Ltd.
                           </p>
                        </div>
                     </section>
                  </div>
               </div>
            </div>
         </div>
         <footer id="colophon" class="site-footer">
            <div class="container">
               <div class="row">
                  <div class="site-info col-md-12">
                     <a href="https://wordpress.org/">Proudly powered by WordPress</a>
                     <span class="sep"> | </span> Theme: <a href="https://athemes.com/theme/airi" rel="nofollow">Airi</a> by aThemes. 
                  </div>
                  <!-- .site-info -->
               </div>
            </div>
         </footer>